<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">

<header>
  <div class="wrapper">
    
    <div class="col">

      {%- if section.settings.logo != blank -%}

        <a href="/">
          {{ section.settings.logo | image_url: width: 200 | image_tag:
            width: section.settings.logo_width,
            alt: shop.name,
            preload: true
          }}
        </a>

      {%- else -%}
        <h1 class="logo text heading">
          {{ shop.name }}
        </h1>
      {%- endif -%}

    </div>

    <div class="col">

      {% comment %}
      {%- liquid
        if section.settings.menu != blank
          render 'header-dropdown-menu'
        endif
      %}
      {% endcomment %}
      {%- liquid
        render 'header-dropdown-menu'
      %}

    </div>

    <div class="col"></div>

  </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "logo width",
      "default": 100
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    }
  ],
  "blocks": [
  ]
}
{% endschema %}
